@model DeckOfCardsModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
body {
  background-image: url(https://lh3.googleusercontent.com/7tNxcbNvboMBZtLuJlinEfiYmzMT42ePgrcCab7BHzQiGFr0CjsimDBbclx35qNIrieAI9EPvtt1x6ZYt4bdsXosR-7p3cpOsvP9FhQQbsDpmpIhxte1kciNei7j2_yx-nzJ0TrpnMw72LhToAwQ_6BMKs5H9s16_YbQKfkH1XRzG_V5U7XF9pmvJN5xBwYp0xpoIFaVJAw48Qy_bF_KER2J-nljDLmyL2C1JxozlNGlo6h2-gVDgOwFBdCapeuozHeEGpKHXWXHWFG1QYwGhn1-HvytwVkNHAIkRyJfOSwXgsD5EK97FMsjX4Yo9-zIKWRm2eysAuJKrdZyj9M1Psj5P_Zn03dWerDDFpGOiBjbhccDyBN4S5i0kmiuZ34ohMk7_Fd1r6Fpzei_Ut3z1bV8n_qH2-Mq31_poy0-ijaLKolrGfggIlV8XowpdsrU7kzxLIrOQg1J2QW3FgwQsQuWYxcVIPSD9zFZyRlPWQdy7Umyq4yLh8XyhfRrKBKW7lmvMuUPQxUqCOwZsCCvU3_uRQQasr_lfm_WUxxyl2S0Y5cfhJuW3ktFinq5LqvLOD3KYpyRuv7QdcaltLVe5AiGVvio3PBLVc_OHuj9Gpuiu9kD8-m09sWMof-dL6ngd71zlKwtHbLI8mpRcdjZSDlFMrgmrmdeCluBffJR66gl1zcmr01-ZOJUzDkdbUvjAyRVIE0YpnVQb1vZYZiZ3ARboHc0fJkwtzgxClMn58RH1YMbCmhN9dryPZY=s910-no?authuser=0);
  background-size: 20%
}
</style>
@{
    foreach (Card c in Model.cards)
    {
        <p>@c.value of @c.suit</p>

        <img src="@c.image" />
    }
}